@font-face {
	font-family: BalooP;
	src: url(font/BalooPaaji-Regular.ttf);
}
@font-face {
	font-family: Baloo;
	src: url(font/Baloo-Regular.ttf);
}
@font-face {
	font-family: Fredokaone;
	src: url(font/FredokaOne-Regular.ttf);
}
@font-face {
	font-family: Hammersmith;
	src: url(font/HammersmithOne-Regular.ttf);
}
@font-face {
	font-family: JuraB;
	src: url(font/Jura-Bold.ttf);
}
@font-face {
	font-family: JuraL;
	src: url(font/Jura-Light.ttf);
}
@font-face {
	font-family: JuraM;
	src: url(font/Jura-Medium.ttf);
}
@font-face {
	font-family: Jura;
	src: url(font/Jura-Regular.ttf);
}
@font-face {
	font-family: JuraSB;
	src: url(font/Jura-SemiBold.ttf);
}
@font-face {
	font-family: Monoton;
	src: url(font/Monoton-Regular.ttf);
}
@font-face {
	font-family: Patua;
	src: url(font/PatuaOne-Regular.ttf);
}
@font-face {
	font-family: Righteous;
	src: url(font/Righteous-Regular.ttf);
}
@font-face {
	font-family: SnigletB;
	src: url(font/Sniglet-ExtraBold.ttf);
}
@font-face {
	font-family: Sniglet;
	src: url(font/Sniglet-Regular.ttf);
}
@font-face {
	font-family: Vastshadow;
	src: url(font/VastShadow-Regular.ttf);
}
@font-face {
	font-family: Viga;
	src: url(font/Viga-Regular.ttf);
}
@font-face {
	font-family: Lato;
	src: url(font/Lato-Regular.ttf);
}
@font-face {
	font-family: Montserrat;
	src: url(font/Montserrat-Regular.ttf);
}
@font-face {
	font-family: Heavitas;
	src: url(font/overig/Heavitas.ttf);
}
@font-face {
	font-family: Cocogoose;
	src: url(font/overig/Cocogoose_trial.otf);
}
@font-face {
	font-family: Lobster;
	src: url(font/Lobster-Regular.ttf);
}
@font-face {
	font-family: Abrilfatface;
	src: url(font/AbrilFatface-Regular.ttf);
}
@font-face {
	font-family: Odin rounded;
	src: url(font/overig/Odin_Rounded-Bold.otf);
}
@font-face {
	font-family: Murrayinlinegrunge;
	src: url(font/overig/Murrayinlinegrunge.otf);
}
@font-face {
	font-family: Drowsy;
	src: url(font/overig/Drowsy.otf);
}
@font-face {
	font-family: Cream;
	src: url(font/overig/cream-DEMO.otf);
}
@font-face {
	font-family: AquawaxB;
	src: url(font/overig/Aquawax_Black-Trial.ttf);
}
@font-face {
	font-family: AquawaxM;
	src: url(font/overig/Aquawax_Medium-Trial.ttf);
}
@font-face {
	font-family: AquawaxL;
	src: url(font/overig/Aquawax_Light-Trial.ttf);
}
@font-face {
	font-family: Manjari;
	src: url(font/Manjari-Regular.ttf);
}
@font-face {
	font-family: ManjariB;
	src: url(font/Manjari-Bold.ttf);
}
@font-face {
	font-family: ManjariL;
	src: url(font/Manjari-Thin.ttf);
}
@font-face {
	font-family: ArchivoBlack;
	src: url(font/ArchivoBlack-Regular.ttf);
}
@font-face {
	font-family: MavenPro;
	src: url(font/MavenPro-VariableFont_wght.ttf);
}
@font-face {
	font-family: Coolvetica;
	src: url(font/overig/coolvetica_rg.ttf);
}
@font-face {
	font-family: BarleyScript;
	src: url(font/overig/BarleyScript.ttf);
}
@font-face {
	font-family: Banbury;
	src: url(font/overig/Banbury-DEMO.otf);
}
@font-face {
	font-family: NexaB;
	src: url(font/Nexa-Bold.otf);
}
@font-face {
	font-family: NexaE;
	src: url(font/Nexa-Edge.ttf);
}
@font-face {
	font-family: NexaL;
	src: url(font/Nexa-Light.otf);
}
@font-face {
	font-family: Nexa;
	src: url(font/Nexa-Regular.ttf);
}
@font-face {
	font-family: NexaT;
	src: url(font/Nexa-Thin.ttf);
}